/*Universal Styles*/
:root {
    --main-color: #6c38c0;
    --bg-color: #3b383f;
    --accent-color: #f74e32;
    --main-text-color: #fff;
}

*, *::before, *::after {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(./files/images/DSC_0040.JPG);
    background-color: var(--bg-color);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--main-text-color);
}

/*Header Section starts here*/
header{
    background-color: var(--main-color);
    text-align: center;
    /* position: fixed; */
    top: 0;
    z-index: 999;
    width: 100%;
    display: grid;
    grid-template-columns: 0 1fr 4fr 0;
}
.icon{
    grid-column: 2 / span 1;
}
.icon img{
    margin: 0.5em;
    width: 75px;
    height: auto;
    border-radius: 10%;
}
nav{
    margin-right: 2em;
    display: flex;
    grid-column: 3 / span 1;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
nav li{
    margin: 0 1em;
    position: relative;
}
nav li::before,
nav li::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--accent-color);
}
nav li::before{
    right: 0;
    top: -0.25em;
}
nav li::after{
    left: 0;
    bottom: -0.25em;
}
nav li a{
    color: var(--main-text-color);
    text-decoration: none;
    text-transform: uppercase;
}
/*Main Body Styles*/
h1{
    color: var(--main-text-color);
    text-align: center;
}
.button{
    cursor: pointer;
    text-decoration: none;
    color: var(--main-text-color);
    background-color: var(--main-color);
    padding: 0.5em 1.25em;
    border-radius: .25em;
}
.button:hover,
.button:focus{
    background-color: var(--accent-color);
}

/*Project Card Styles*/
.card{
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: .5em;
    overflow: hidden;
}
.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.6) 20%, rgba(0,0,0,1));

}
.card-title{
    position: relative;
    width: max-content;
}
.card-title::after{
    content: '';
    position: absolute;
    height: 3px;
    left: calc(var(--padding) * -1);
    bottom: -0.25em;
    width: calc(100% + var(--padding));
    background: var(--main-color);
}
.card-body{
    opacity: 90%;
}
.card-holder{
    margin: .8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px,1fr));
    grid-gap: .5rem;
    justify-items: center;
}


/*Individual Card Backgrounds*/
#rpg-quest{
    background-image: url(./files/images/resize/tim-rebkavets-B5PNmw5XSpk-unsplash_med.jpg);
    background-size: cover;
    background-position: center;
}
#portfolio{
    background-image: url(./files/images/resize/florian-olivo-4hbJ-eymZ1o-unsplash_med.jpg);
    background-size: cover;
    background-position: center;
}
#placeholder{
    background-image: url(./files/images/resize/DSC_0046_med.JPG);
    background-size: cover;
    background-position: center;
}